* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  background: linear-gradient(to right, rgba(14, 45, 107, 0.46), rgb(34, 29, 96, 0.5)), url(https://www.thegreatcourses.com/media/catalog/product/cache/1/image/800x600/0f396e8a55728e79b48334e699243c07/1/8/1810---base_image_4.1424267816.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
  color: #fff;
}

/* Header */
.headerH1 {
  margin: 8% 0;
  font-family: 'Marck Script', cursive;
}

/* Dropdown Menu */
label h3 {
  font-size: 1.5rem;
}
#myList {
  height: 3rem;
}

/* Section - result of zodiac sign */
section.result {
  width: 90%;
  margin: 0 auto;
}

#myList {
  width: 60%;
  margin: 0 auto;
}

#displayInfo {
  width: 60%;
  margin: 0 auto;
}

#icon {
  border-radius: 50%;
}

/* media query for responsive design */
@media(max-width: 670px) {
  .headerH1 {
    font-size: 3.5rem;
  }
}

@media(max-width: 437px) {
  .headerH1 {
    font-size: 2.5rem;
  }
  label.h4 {
    font-size: 1.2rem;
  }
}
